.main-container {
  text-align: center;
}

.navbar {
  background-color:grey;
  border:black;
  text-align: left; 
}

.nav-ul {
 list-style-type: none;
 margin: 15px;
 padding: 10px;
}

.nav-li {
  display: inline;
}

.nav-li a {
  display: inline;
  color:black;
  text-align: left; 
  padding: 16px;
}

.nav-li a:hover {
  background-color: green; 
}

.bold {
  font-weight: bold;
}

img {
  border-radius:50%;
}

.page-text {
  font-size: 20px;
}
