
ul {
 list-style-type: none;
 margin: 15px;
 padding: 10px;
}


li a {
  display: inline;
  color:black;
  text-align: left; 
  padding: 16 px; 
}

li {
  display: inline;
}

img {
  border-radius:50%;
}